@media only screen and (max-width: 900px) {
    #container {
        height: 100vh;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 9fr 1fr;
        grid-template-areas: 
        'main'
        'weeks';
    }

    #weeks {
        grid-template-areas: weeks;
        border: none;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #weeks { border-top: #a8a5a2 1px solid; }

    #main {
        grid-area: main;
        border: none;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    #main2 {
        grid-area: main;
        border: none;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    #google {width: 60%;}

    food-row {
        height: 100%;
        border-bottom: #f9d0ff 1px solid;
    }

    food-row:nth-child(7) {
        border: none;
    }

    #menu {
        grid-area: main;
        height: 100%;
        width: 100%;
        border: none;
        display: flex;
        flex-direction: column;
        z-index: -3;
        line-height: 20px;
    }
    .admin {display: none;}

    .BtnStyle {
        box-shadow:inset 0px 1px 0px 0px #ffffff;
        background-color:#ffffff;
        border-radius:6px;
        border:1px solid #dcdcdc;
        display:inline-block;
        cursor:pointer;
        color:#666666;
        font-family:Arial;
        font-size:12px;
        font-weight:bold;
        text-decoration:none;
        text-shadow:0px 1px 0px #ffffff;
        height: 50%;
        width: 100%;
        text-align: center;
        margin-top:10px;
    }
    .BtnStyle:hover {background-color:#f6f6f6;}
    .BtnStyle:active {
        position:relative;
        top:1px;
    }

    #menuBtn {display: block;}
    .menuBtn {
        height: 40px;
        width: 25%;
        font-size: 10px;
    }
    .menuBtn {margin: 1px;}
    .hamham {display: none;}


    #signupContainer {
        margin-top: 50%;
        width: 80%;
        display: flex;
        height: 80%;
        flex-direction: column;
        justify-content: center;
        margin-left: 17%;
    }

    .formBtn {
        height: 10%;
        width: 80%;
    }
}