@media print {
    html, body {
        height:100vh; 
        margin: 0 !important; 
        padding: 0 !important;
        overflow: hidden;
      }
    #container > #menu {display: none;}
    #container {
        width: 100%;
        display: grid;
        page-break-after: auto;
    }
    
    .viewFood {
        grid-template-columns: 5% 90% 5%;
        grid-template-rows: 10% 50% 40%;
        grid-template-areas:
        '. weeks .'
        '. main .'
        '. . .';
    }
    
    #weeks > #nextWeek, #menuBtn, #hamhamBtn {
        display: none;
    }

    #weeks > span{
        border: none;
    }
    
    
    #hamhamBtn {
        display: none !important;
    }
    food-row {
        border: black 1px solid;
    }

    #main, #main2, #weeks, #menu {
        border: 1px solid black;
    }
    #weeks { border: none; }
    span {
        font-size: 30px;
    }

    .printText {display: block;}
    .normalText {display: none !important;}


}

@page {
    size: landscape;
    orientation: landscape;
    
}