body {margin: 0;}
/* img {display: none;} */
.hide {display: none;}
.admin {display: none;}
#settings {width: 80px; margin-right: 30px;}
#menuBtn {display: none;}
.hamham{display: none;}

#container {
    height: 100vh;
    width: 100%;
    display: grid;
}

.viewFood {
    grid-template-columns: 15% 50% 20% 15%;
    grid-template-rows: 10% 10% 70% 10%;
    grid-template-areas:
    '. . . .'
    '. weeks weeks .'
    '. main  menu .'
    '. . . .';
}

#weeks {
    grid-area: weeks;
    background-color: #fffcd0;
    border: 1px solid #f9d0ff;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* 
    align-items: center;
    justify-content: center;
     */
    font-size: 25px;
}
#weeks > span {
    margin-top: 8px;
}
#weekNumber {
    margin-left: 30px;
}
#main {
    border: 1px solid #f9d0ff;
    grid-area: main;
    display: flex;
    flex-direction: column;
}
#main2 {
    border: 1px solid #f9d0ff;
    grid-area: main;
    display: flex;
    flex-direction: column;
}

.secondary {z-index: -2;}

food-row {
    height: 100%;
    background-color: #fffcd0;
    border-bottom: #f9d0ff 1px solid;
    /* background-image: url('../images/plank.webp');
    background-position: stretch;
    background-repeat: no-repeat; */
}

#menu {
    border: 1px solid #f9d0ff;
    grid-area: menu;
    background-color: #fffcd0;
    grid-area: menu;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input {
    width: 50%;
    margin-left: 25%;
    height: 25px;
}
.inputStyle:focus::placeholder {
    color: transparent;
}

select {
    font-size: 20px;
    background-color: white;
}

input {
    font-size: 25px;
}

#submit {
    margin-top: 7%;
    background-color: #f9d0ff; /* Green */
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 20px;
    height: 50px;
    cursor:pointer;
    border-radius: 6px;
}
#submit:hover {background-color: #da8ee6;}
#submit:active {
	position:relative;
	top:1px;
}

.header {
    font-size: 30px;
    margin-left: 25%;
    margin-top: 15%;
}

#google {
    width: 75%;
    margin-top: 13px;
    align-self: center;
}

.BtnStyle {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    height: 50%;
    width: 100%;
    text-align: center;
}
.BtnStyle:hover {background-color:#f6f6f6;}
.BtnStyle:active {
	position:relative;
    top:1px;
    border-radius:6px;
}

#signout_btn {
    width: 50%;
    height: 10%;
    margin-top:20px;
    cursor:pointer;
}
.menuBtn {margin: 15px;}

#signupContainer {
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    margin-top: 30%;
}

.inputStyle {
    width: 80%;
    margin-left: auto;
}

.formBtn {
    width: 80%;
    height: 10%;
}
