body {margin: 0;}
img {        
    display: none;
}

#container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 15% 50% 20% 15%;
    grid-template-rows: 10% 10% 70% 10%;
    grid-template-areas:
    '. . . .'
    '. weeks weeks .'
    '. main  profile .'
    '. . . .';
}

#weeks {
    grid-area: weeks;
    border: 1px solid black;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
#profile {
    border: 1px solid black;
    grid-area: profile;
    background-color: lightseagreen;
}

#main {
    border: 1px solid black;
    grid-area: main;
    display: flex;
    flex-direction: column;
}

food-row {
    height: 100%;
    background-color: #ede9d8;
    border-bottom: #a8a5a2 1px solid;
}